*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -moz-user-focus: none;
    font-family: 'poppins',sans-serif;
}
:root{
    --primary-color: #202020;
    --primary-backcolor: #FFFFFF;
    
}
a{
    text-decoration: none;
}

.dark-mode{
    --primary-color: #FCFCFC;
    --primary-backcolor: #131313;
}

/* Start */

header{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-backcolor);
    z-index: 40;
    position: fixed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
header .me .profile{
    width: 30px;
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 50%;
    border: 3px solid #18DB53;
    background: var(--primary-color);
    box-shadow: 1px 1px 2px rgba(200, 0, 0, 0.3);
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.menu li{
    list-style: none;
    margin-right: 2px;
    float: left;
    transition: all 0.4s;
    position: relative;
}
.menu li:after{
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #0FF052;
    max-width: 100%;
    transition: 0.4s linear;
}
.menu li:hover::after{
   width: 100%;
}
.menu li a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9em;
    float: left;
    padding: 5px 9px;
    font-weight: 500;
}
.home{
    
}
.contact{
    
}
.about{
    
}
.event{
    
}
.project{
    
}


/******  Mode *********/
.toggle{
    position: fixed;
    top: 40px;
    right: 10px;
    background: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}
.toggle .dark{
    width: 40px;
    padding-bottom: 5px;
    position: absolute;
    
}
.toggle .light{
    display: none;
    width: 30px;
}
/****** Main *******/
.main{
    padding-top: 40px;
    width: 100%;
    background: var(--primary-backcolor);
    color: var(--primary-color);
}
.main .content{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content .photo{
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myphoto{
    position: absolute;
    width: 300px;
    padding: 5px;
    transition: all 0.7s;
}
.myphoto:hover{
    width: 310px;
    transform: rotate(2deg);
}
.content .mydata{
    width: 400px;
    text-align: left;
    padding: 20px 0 0 10px;
}
.mydata .title{
    font-size: 1.6em;
    font-weight: 400;
}
.mydata .title-short{
    font-size: 0.9em;
}
.mydata .bio{
    font-size: 0.7em;
    text-align: left;
    
    padding: 5px 0 10px 0;
}

.social-media{
    
}
.social-media a{
    margin: 5px;
}
.social-media a img{
    width: 70px;
    border-radius: 10px;
    box-shadow: box-shadow: 1px 1px 2px rgba(200, 0, 0, 0.3);
    transition: all 0.4s;
}
.social-media a img:hover{
    filter: brightness(0.5);
    rotate: 10deg;
    width: 80px;
}
.cv-btn{
    border: none;
    outline: none;
    cursor: pointer;
    width: 180px;
    height: 35px;
    border-radius: 2px;
    box-shadow: box-shadow: 1px 1px 2px rgba(200, 0, 0, 0.3);
    margin-top: 20px;
    font-size:0.9em;
    font-weight: 500;
    background: #18DB53;
    color: var(--primary-color);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3),
                inset 0 0 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cv-btn:hover{
    filter: brightness(0.7);
}
.cv-btn .d-im{
    width: 15px;
}

/******* project ********/

.project-data{
    
}
.project-info














/******* Event ********/
















/******* About ***********/

























/****** contact *****/
.contact-data{
}
.contact-data{
    padding: 5px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgba(24, 219, 83, 1);
}
.contact-data .image  img{
    width: 100px;
    border-radius: 20%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 5px;
    margin-left: 40px;
}
.img-data .con{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-data .con a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #09EC4D;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2),
                inset 0 0 1px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    color: var(--primary-color);
    transition: all 0.4s;
}
.img-data .con a:hover{
    width: 320px;
}
.cont{
    width: 70px;
}
.whatsapp{
    width: 90px;
    margin-left: -10px;
}

/****** End *********/
